#sencha-logo-header {
	background: url("http://www.sencha.com/assets/images/logo-80x90.png") no-repeat scroll 0 0 transparent;
	padding: 20px 0 80px 80px;
}

.result_OK {
    background: #82CE77 !important;
}

.result_FAILED {
    background: #E64337 !important;
}

.result_SKIPPED {
    background: orange !important;
}

.redb {
    font-weight: bold; color: red;
}

.yelb {
    font-weight: bold; color: orange;
}

.grnb {
    font-weight: bold; color: green;
}

